<!-- Form -->
<form action="/" id="add_user" autocomplete="off">
    <div class="new_user">
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" value="" placeholder="example@gmail.com">
        </div>
        
        <div class="form-group">
            <label for="name" class="text-light">Password</label>
            <input type="password" value="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update" style="font-weight: bold;">Submit</button>
        </div>

    </div>
</form>